<div class="b-dialog" cdkFocusRegionstart>
    <div class="b-dialog__content" mat-dialog-content>
        <span>Are you sure?</span>
    </div>
    <div mat-dialog-actions class="b-dialog__actions">
        <button class="b-dialog__actions--cancel" mat-button [mat-dialog-close]="false">Cancel</button>
        <button class="b-dialog__actions--yes" mat-raised-button [mat-dialog-close]="true">Yes</button>
    </div>
</div>