/// @alias element
@mixin e($element) {
  &--#{$element} {
    @content;
  }
}

/// @alias modifier
@mixin m($modifier) {
  &__#{$modifier} {
    @content;
  }
}

.b-dialog {
  @include m("content") {
    text-align: center;
  }
  @include m("actions") {
    @include e("cancel") {
      // border: 1px solid black;
    }
    @include e("yes") {
      border: 1px solid black;
    }
  }
}
