/// @alias element
@mixin e($element) {
    &--#{$element} {
      @content;
    }
  }
  
  /// @alias modifier
  @mixin m($modifier) {
    &__#{$modifier} {
      @content;
    }
  }
  
  .b-dependencies {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 10px;
    right: 10px;
    width: auto;
    height: auto;
    background-color: white;
    @include e("card") {
      position: absolute;
      overflow-y: auto;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      background-color: white;
      text-align: center;
      @include m("text") {
        text-align: center;
        color: black;
        font-weight: 400;
        font-size: 24px;
        display: inline;
      }
      @include m("content") {
        text-align: center;
        color: black;
        font-weight: 400;
        font-size: 26px;
        position: relative;
        width: 100%;
        height: 75%;  
      }
    }
  }
  