<div class="b-dependencies">
    <mat-card class="b-dependencies--card">
        <mat-card-title class="b-dependencies--card__text">
            <h1>List of npm packages used to build n305</h1>
            <h2>Note: list created based on <i>package.json</i></h2>
            <div *ngFor="let npmDep of formatedDepList">
                <span>Package: <i>{{npmDep['name']}}</i> &nbsp; Version: <i> {{npmDep['version']}}</i></span>
                <br>
                <br>
            </div>
        </mat-card-title>
    </mat-card>
</div>