/// @alias element
@mixin e($element) {
    &--#{$element} {
        @content;
    }
}

/// @alias modifier
@mixin m($modifier) {
    &__#{$modifier} {
        @content;
    }
}

.b-answer {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 30px;
    @include m("header") {
        color: #673ab7;
    }
    @include e("copy") {
        background-color: white;
        border: 1px solid black;
        height: 30px;
        @include m("icon") {
            left: 6px;
        }
    }
}
