<div class="b-answer">
    <div class="b-answer__header"><p><b>{{aiAnswer.provider}}</b>:<i>{{' ' + aiAnswer.prompt}}</i></p></div>
    <p>{{aiAnswer.answer}}</p>
    <button class="b-answer--copy" mat-raised-button [cdkCopyToClipboard]="aiAnswer.answer">
        <mat-icon class="b-answer--copy__icon" fontIcon="content_copy"></mat-icon>
    </button>
</div>