<div class="b-about">
  <mat-card [hidden]="hasAlreadyLoaded === false" class="b-about--card">
    <mat-card-title class="b-about--card__text">
      <span>
        n305 is an Angular 17, Progressive Web App. The design of n305 was
        inspired by Universal Windows Platform (UWP)
        Apps, Miami Beach, and Japanese ink paintings. 
      </span>
    </mat-card-title>
    <mat-card-content class="b-about--card__content">
      <img #aboutImg class="b-about--card__content--painting" src ="/assets/n305.homepage11.jpg" title="Black Ink Painting"/>
      {{attachToTempRef(aboutImg)}}
    </mat-card-content>
  </mat-card>

  <!-- Skeleton/Ghost Loaders -->
  <mat-card  *ngIf="hasAlreadyLoaded === false" class="b-about--card">
    <div class="b-about--card__text">
      <ngx-skeleton-loader count="4"
        [theme]="{ 'border-radius': '3px', height: '20px', width: '100%', 'background-color': 'silver' }">
      </ngx-skeleton-loader>
    </div>
    <div class="b-about--card__content">
      <ngx-skeleton-loader count="1"
        [theme]="{ 'border-radius': '3px', height: '65%', width: '55%', 'background-color': 'silver'}">
      </ngx-skeleton-loader>
    </div>
  </mat-card>
</div>