<div class="b-ai">
    <div *ngIf="hasLoaded then answer else skLoader"></div>
    <ng-template #answer>
        <mat-card class="b-ai--card">
            <mat-card-content class="b-ai--answer">
                <ng-container *ngFor="let answer of aiAnswers">
                    <app-answer [aiAnswer]="answer"></app-answer>
                </ng-container>
            </mat-card-content>
            <mat-card-content class="b-ai--prompt">
                <textarea class="b-ai--prompt__input" #question matInput [placeholder]="placeHolder"></textarea>
                <div class="b-ai--prompt__controls">
                    <button class="b-ai--prompt__controls--clear" mat-raised-button (click)="clear()"
                        aria-label="clear">
                        <mat-icon class="b-ai--prompt__controls--clear__icon" fontIcon="close"></mat-icon>
                    </button>
                    <mat-form-field class="b-ai--prompt__controls--select" appearance="outline">
                        <mat-label>Choose an AI</mat-label>
                        <mat-select [(value)]="selectedProvider" placeholder="provider">
                            <mat-option *ngFor="let provider of providers" [value]="provider">
                                {{provider.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button class="b-ai--prompt__controls--send" *ngIf="!disableButton" mat-raised-button
                        (click)="sendQuestion(question.value,selectedProvider)" [disabled]="disableButton"
                        [hidden]="disableButton" aria-label="Send">
                        <mat-icon class="b-ai--prompt__controls--send__icon" fontIcon="send"></mat-icon>
                    </button>
                    <mat-spinner class="b-ai--prompt__spinner" *ngIf="disableButton" [diameter]="35"></mat-spinner>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-template>
    <ng-template #skLoader>
        <!-- Skeleton/Ghost Loaders -->
        <mat-card class="b-ai--card">
            <div>
                <ngx-skeleton-loader count="8"
                    [theme]="{ 'border-radius': '3px', height: '30px', width: '100%', 'background-color': 'silver' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader count="2"
                    [theme]="{ 'border-radius': '3px', height: '30px', width: '80%', 'background-color': 'silver' }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader count="1"
                    [theme]="{ 'border-radius': '3px', height: '60px', width: '40%', 'background-color': 'silver' }">
                </ngx-skeleton-loader>
            </div>
        </mat-card>
    </ng-template>
</div>