/// @alias element
@mixin e($element) {
  &--#{$element} {
    @content;
  }
}

/// @alias modifier
@mixin m($modifier) {
  &__#{$modifier} {
    @content;
  }
}

$pictureBackgroundColor: white;
$itemBackgroundColor: transparent;
$textColor: black;
$overlayColor: black;
$contentsBackgroundColor: white;

.b-ai {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 10px;
  right: 10px;
  width: auto;
  height: auto;
  font-size: 24px;
  @include e("card") {
    overflow-y: hidden;
    background-color: white;
    color: $textColor;
    height: fit-content;
  }
  @include e("answer") {
    border-radius: 5px;
    background-color: $contentsBackgroundColor;
    border: 1px solid black;
    height: 44vh;
    overflow-y: auto;
    display: block;
  }
  @include e("prompt") {
    border-radius: 5px;
    background-color: $contentsBackgroundColor;
    height: 25%;
    display: block;
    @include m("spinner") {
      margin: auto;
      margin-top: 15px;
      color: black;
    }
    @include m("label") {
      margin: auto;
      display: block;
    }
    @include m("input") {
      width: 90%;
      height: 60px;
      text-align: left;
      font-size: 15px;
      color: $textColor;
      margin: 15px auto auto auto;
      display: block;
      padding: 10px;
    }
    @include m("controls") {
      text-align: center;
      width: fit-content;
      left: 0px;
      right: 0px;
      margin: auto;
      height: fit-content;
      @include e("send") {
        border: 1px solid black;
        display: block;
        height: 35px;
        width: 150px;
        margin-top: 10px;
        @include m("icon") {
          transform: scale(1.5);
          margin-top: 1px;
          left: 6px;
        }
      }
      @include e("clear") {
        border: 1px solid black;
        display: block;
        height: 25px;
        width: 150px;
        margin-top: 15px;
        @include m("icon") {
          transform: scale(1.5);
          margin-top: 1px;
          left: 6px;
        }
      }
      @include e("select") {
        border: 1px solid transparent;
        display: block;
        height: 60px;
        width: 150px;
        margin-top: 15px;
      }
    }
  }
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: black;
}
