/// @alias element
@mixin e($element) {
  &--#{$element} {
    @content;
  }
}

/// @alias modifier
@mixin m($modifier) {
  &__#{$modifier} {
    @content;
  }
}

$pictureBackgroundColor: white;
$itemBackgroundColor: transparent;
$textColor: black;
$overlayColor: black;
$contentsBackgroundColor: yellow;

.b-gallery-menu {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 10px;
  right: 10px;
  width: auto;
  height: auto;
  background-color: white;
  @include e("card") {
    position: absolute;
    overflow-y: auto;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: white;
    @include m("text") {
      color: white;
    }
  }
  @include e("contents") {
    border: 1.5px silver solid;
    border-radius: 5px;
    background-color: $contentsBackgroundColor;
    left: 0px;
    right: 0px;
    text-align: center;
    display: inline-block;
    width: 75%;
    height: 95%;
  }
  @include e("items") {
    left: 0px;
    right: 0px;
    text-align: center;
    display: inline-block;
    @include e("item") {
      background-color: $itemBackgroundColor;
      border: 1.5px silver solid;
      border-radius: 5px;
      @media (min-width: 426px) {
        width: 409px;
        padding: 0px;
        height: auto;
        @include e("content") {
          @include m("picture") {
            background-color: $pictureBackgroundColor;
            width: 100%;
            height: 200px;
          }
        }
      }
      @media (max-width: 425px) {
        width: 209px;
        height: 162px;
        padding: 0px;
        @include e("content") {
          @include m("picture") {
            background-color: $pictureBackgroundColor;
            width: 100%;
            height: 100px;
          }
        }
      }
      @include m("title") {
        background-color: transparent;
        color: $textColor;
        height: 50px;
      }
    }
  }
}
.b-overlay {
  width: 100%;
  height: 100%;
  background-color: $overlayColor;
  opacity: 0.8;
  position: fixed;
  z-index: 2;
}
