﻿<div class="b-gallery-menu">
    <mat-card class="b-gallery-menu--card">

        <mat-card-content [hidden]="hasAlreadyLoaded === false">
            <div class="row-fluid" [hidden]="hasAlreadyLoaded === false">
                <div class="b-gallery-menu--items col-lg-1" *ngFor="let item of galleryItems">
                    <mat-card class="b-gallery-menu--items--item" (click)="changeLocation(item.ItemURL)">
                        <mat-card-content class="b-gallery-menu--items--item__content">
                            <img #galleryImgs class="b-gallery-menu--items--item--content__picture" src="{{item.ImageURL}}"/>
                                {{attachToTempRef(galleryImgs)}}
                        </mat-card-content>
                        <mat-card-title class="b-gallery-menu--items--item__title">{{item.Description}}</mat-card-title>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>

        <!-- Skeleton/Ghost Loaders -->
        <mat-card-content *ngIf="hasAlreadyLoaded === false">
            <div class="row-fluid" [hidden]="hasAlreadyLoaded === true">
                <div class="b-gallery-menu--items col-lg-1" *ngFor="let item of galleryItems">
                    <div class="b-gallery-menu--items--item" style="border-color: transparent;">
                        <ngx-skeleton-loader count="1"
                            [theme]="{ 'border-radius': '3px', height: '172px', width: '100%','background-color': 'silver'}">
                        </ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>