/// @alias element
@mixin e($element) {
    &--#{$element}{
        @content;
    }     
}

/// @alias modifier
@mixin m($modifier) {
    &__#{$modifier}{
        @content;
    }     
}

.b-app{
    text-align: center;
    width: 100%;
    height: 100%;
}