﻿<div class="b-overlay">
    </div>

<div class="b-privacy-policy" (click)="changeLocation('mailto:n305.net@gmail.com')">
    <div class="b-privacy-policy--content">
        <article class="b-privacy-policy--content__text">
            NAOX does not collect or publish any personal information. If you would like to report any violations of this policy, please contact us at
            <b class="b-privacy-policy--content__text__contact">n305.net&#64;gmail.com</b>
        </article>
    </div>
</div>

