/// @alias element
@mixin e($element) {
    &--#{$element} {
        @content;
    }
}
/// @alias modifier
@mixin m($modifier) {
    &__#{$modifier} {
        @content;
    }
}

.b-overlay {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
    position: fixed;
    z-index: 2;
}

.b-privacy-policy {
    @include e("content") {
        margin-top: 150px;
        margin-bottom: 0.25px;
        top: 0%;
        position: absolute;
        z-index: 3;
        visibility: visible;
        @include m("text") {
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            color: black;
            font-family: "Segoe UI";
            font-size: 26px;
            font-weight: 500;
            word-wrap: normal;
            text-align: center;
            line-height: 30px;
            cursor:pointer;
            @include m("contact") {
                color: black;
                font-family: "Segoe UI";
                font-size: 26px;
                font-weight: 700;
            }
        }
    }
}
