/// @alias element
@mixin e($element) {
  &--#{$element} {
    @content;
  }
}

/// @alias modifier
@mixin m($modifier) {
  &__#{$modifier} {
    @content;
  }
}

.b-dialog{
    padding: 15px;
    font-size: 24px;
    max-height: 75vh;
    overflow-y: auto;
}