@use '@angular/material' as mat;
@include mat.core();
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/// @alias element
@mixin e($element) {
  &--#{$element} {
    @content;
  }
}

/// @alias modifier
@mixin m($modifier) {
  &__#{$modifier} {
    @content;
  }
}

$foreground-color: black;
$mobile-res: 600px;

.b-n305 {
  background-color: white;
  color: $foreground-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  select:active {
    outline: none;
  }

  @media (max-width: 1440px) {
    zoom: 100%;
  }
  @media (min-width: 1441px) {
    zoom: 150%;
  }
}

.mat-mdc-card {
  box-shadow: none !important;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

textarea {
  resize: none;
}

.pulsating {
  -webkit-animation: pusate 0.5s infinite alternate;
  -moz-animation: pusate 0.5s infinite alternate;
  -animation: pusate 0.5s infinite alternate;
  text-shadow: 0 0 8px #ccc;
}
@-webkit-keyframes pusate {
  from {
    box-shadow: 0 0 10px black;
  }
  to {
    box-shadow: 0 0 30px black;
  }
}
@-moz-keyframes pusate {
  from {
    box-shadow: 0 0 10px black;
  }
  to {
    box-shadow: 0 0 30px black;
  }
}
@keyframes pusate {
  from {
    box-shadow: 0 0 10px black;
  }
  to {
    box-shadow: 0 0 30px black;
  }
}

::-webkit-scrollbar {
  width: 10px;
  color: black;
  background-color: transparent;
  @media (max-width: $mobile-res){
    display: none;
  }
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  background-color: transparent;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border: 1px solid black;
  height: 50px;
  border-radius: 10px;
  background-color: $foreground-color;
}
