/// @alias element
@mixin e($element) {
  &--#{$element} {
    @content;
  }
}

/// @alias modifier
@mixin m($modifier) {
  &__#{$modifier} {
    @content;
  }
}

$pictureBackgroundColor: white;
$contentsBackgroundColor: white;
$contentBackgroundColor: transparent;
$textColor: white;
$overlayColor: white;
$iconSize: 45px;

.b-home {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 10px;
  right: 10px;
  width: auto;
  height: auto;
  background-color: white;
  @media (min-width: 601px) {
    left: 20px;
  }
  @include e("card") {
    position: absolute;
    overflow-y: auto;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: white;
    @include m("text") {
      color: white;
    }
  }
  @include e("contents") {
    border: 2px black solid;
    border-radius: 5px;
    background-color: $contentsBackgroundColor;
    left: 0px;
    right: 0px;
    text-align: center;
    display: inline-block;
    width: 75%;
    height: 95%;

    @include e("item") {
      background-color: $contentBackgroundColor;
      width: auto;
      // overflow-y: auto;
      max-height: 200px;
      @include m("text") {
        width: 90%;
        color: black;
        font-size: 26px;
        font-weight: 400;
        word-wrap: normal;
        text-align: center;
        display: inline;
      }
      @include m("picture") {
        background-color: $contentBackgroundColor;
        border-radius: 5px;
        width: auto;
        height: 190px;
        margin-left: 15px;
      }
      @include e("toolbar") {
        background-color: $contentBackgroundColor;
        text-align: center;
        @include m("row") {
          left: 0px;
          right: 0px;
          text-align: center;
          display: inline-block;
          @include m("div") {
            text-align: center;
            background-color: $contentBackgroundColor;
            @include e("button") {
              width: $iconSize;
              height: $iconSize;
              background-color: transparent;
              @include m("img") {
                width: $iconSize - 12px;
                height: auto;
              }
              @include m("img-alt") {
                width: $iconSize - 12px;
                height: auto;
                margin-right: 4px;
              }
              @include m("icon") {
                font-size: $iconSize - 12px;
                width: auto;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}
