<div class="b-home">
   <mat-card [hidden]="hasAlreadyLoaded === false" class="b-home--card">
      <mat-card-title class="b-home--card__text">{{title}}</mat-card-title>
      <mat-card-content class="b-home--contents--item">
         <img #homeImg class="b-home--contents--item__picture" src="/assets/NanaOwiroduImage.jpg" title="Nana">
         {{attachToTempRef(homeImg)}}
         <img />
      </mat-card-content>
      <mat-card-content class="b-home--contents--item">
         <mat-toolbar class="b-home--contents--item--toolbar">
            <mat-toolbar-row class="b-home--contents--item--toolbar__row">
               <div class="b-home--contents--item--toolbar__row__div">
                  <button class="b-home--contents--item--toolbar__row__div--button" mat-icon-button
                     (click)="changeLocation('https://www.linkedin.com/in/nana-owirodu')">
                     <img class="b-home--contents--item--toolbar__row__div--button__img"
                        src="/assets/icons/linkedin.ico" />
                  </button>
                  <button class="b-home--contents--item--toolbar__row__div--button" mat-icon-button
                     (click)="changeLocation('https://bitbucket.org/naox/profile/repositories?visibility=public')">
                     <img class="b-home--contents--item--toolbar__row__div--button__img"
                        src="/assets/icons/Bitbucket.ico" />
                  </button>
                  <button class="b-home--contents--item--toolbar__row__div--button" mat-icon-button
                     (click)="changeLocation('https://www.hackerrank.com/n305_net?hr_r=1')">
                     <img class="b-home--contents--item--toolbar__row__div--button__img"
                        src="/assets/icons/HackerRank.svg" />
                  </button>
                  <button class="b-home--contents--item--toolbar__row__div--button" mat-icon-button
                     (click)="changeLocation('https://coursera.org/share/0b9df36e7c674d6212db194b47d9f712')">
                     <img class="b-home--contents--item--toolbar__row__div--button__img-alt"
                        src="/assets/icons/coursera_icon.png" />
                  </button>
               </div>
            </mat-toolbar-row>
            <mat-toolbar-row class="b-home--contents--item--toolbar__row">
               <div class="b-home--contents--item--toolbar__row__div">
                  <button class="b-home--contents--item--toolbar__row__div--button" mat-icon-button
                     (click)="changeLocation('mailto:n305.net@gmail.com')">
                     <mat-icon class="b-home--contents--item--toolbar__row__div--button__icon"
                        fontIcon="email"></mat-icon>
                  </button>
               </div>
            </mat-toolbar-row>
         </mat-toolbar>
      </mat-card-content>
      <mat-card-content class="b-home--contents--item">
         <article class="b-home--contents--item__text">
            <span>
               Software engineer with a bachelor's degree in physics, minoring in
               mathematics—initially wanted to become a theoretical physicist specializing in
               cosmology; GUTs and TOEs: Grand Unified Theories and Theories of Everything.
               However, years of sleepless nights, caffeine pills, and weekends struggling with
               quantum mechanics, thermodynamic, and electrodynamics equations, I concluded
               that I may not be cut out for theoretical physics; thus, I became a software
               engineer. I’m a big fan of Andrew Ng and Robert
               “Uncle Bob” Martin.
               Currently studying AI, specifically Deep Learning in Neural Networks--a long,
               yet awesome, road ahead. As Andrew Ng stated: AI is the new electricity.
            </span>
         </article>
      </mat-card-content>
   </mat-card>
   <!-- Skeleton/Ghost Loaders -->
   <mat-card *ngIf="hasAlreadyLoaded === false" class="b-home--card">
      <div class="b-home--contents--item" style="border-color: transparent;">
         <ngx-skeleton-loader count="1"
            [theme]="{ 'border-radius': '3px', height: '200px', width: '190px' , 'background-color': 'silver'}"></ngx-skeleton-loader>
      </div>
      <div class="b-home--contents--item" style="border-color: transparent;">
         <ngx-skeleton-loader count="1"
            [theme]="{ 'border-radius': '3px', height: '60px', width: '190px' , 'background-color': 'silver'}"></ngx-skeleton-loader>
      </div>
      <div class="b-home--contents--item" style="border-color: transparent;">
         <ngx-skeleton-loader count="5"
            [theme]="{ 'border-radius': '3px', height: '20px', width: '100%', 'background-color': 'silver'}"></ngx-skeleton-loader>
      </div>
   </mat-card>
</div>