<!--The content below is only a placeholder and can be replaced.-->
<!--Note: #editable determines Medium Editor scope. -->
<div class="b-user-main">
  <mat-toolbar class="b-user-main--toolbar">
    <mat-toolbar-row color="accent">
      <div class="b-user-main--toolbar__left">
        <button type="button" class="b-user-main--toolbar__button" mat-button (click)="opened = !opened">
          <mat-icon *ngIf="opened" fontIcon="menu_opened"></mat-icon>
          <mat-icon *ngIf="!opened" fontIcon="menu"></mat-icon>
          <span>
            {{title}}
          </span>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="b-user-main--side-nav" #editable>
    <mat-sidenav class="b-user-main--side-nav--menu" mode="side" [(opened)]="opened">
      <button class="b-user-main--side-nav--menu__button" mat-button (click)="navTo('ai', 'Ask AI');">
        AI (Beta)
      </button>
      <button class="b-user-main--side-nav--menu__button" mat-button (click)="navTo('uwp', 'UWPs');">
        UWPs
      </button>
      <button class="b-user-main--side-nav--menu__button" mat-button (click)="navTo('home', 'Home');">
        About
      </button>
      <button class="b-user-main--side-nav--menu__button" mat-button (click)="navTo('about', 'About');">
        Contact
      </button>
      <button class="b-user-main--side-nav--menu__button" mat-button (click)="refresh()">
        Refresh
      </button>
    </mat-sidenav>

    <mat-sidenav-content>
      <div *ngIf="opened" class="b-user-main--content--overlay" (click)="opened = false;"></div>
      <div class="b-user-main--content" [@openClose]="opened">
        <div *ngIf="menuSelection === 'home'">
          <app-about></app-about>
        </div>
        <div *ngIf="menuSelection === 'ai'">
          <app-ai></app-ai>
        </div>
        <div *ngIf="menuSelection === 'uwp'">
          <app-gallery></app-gallery>
        </div>
        <div *ngIf="menuSelection === 'about'">
          <app-home></app-home>
        </div>
        <div *ngIf="menuSelection === 'dependencies'">
          <app-dependencies></app-dependencies>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>