/// @alias element
@mixin e($element) {
  &--#{$element} {
    @content;
  }
}

/// @alias modifier
@mixin m($modifier) {
  &__#{$modifier} {
    @content;
  }
}

mat-sidenav {
  border: none;
  overflow-x: hidden;
}
.b-user-main {
  text-align: center;
  width: 100%;
  height: 100%;

  @include m("title") {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 14.5px;
    font-size: 36px;
    cursor: default;
  }

  @include e("results") {
    position: absolute;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    bottom: 65px;
    top: 50px;
    height: auto;
    width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    @include e("item") {
      background-color: white;
      color: black;
      height: auto;
      @include m("text") {
        font-size: 14px;
      }
    }
  }
  @include e("ads") {
    margin: 0 auto;
    position: relative;
  }
  @include e("toolbar") {
    width: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: transparent;
    color: black;
    @include m("icon") {
      font-size: 20px;
      color: black;
    }
    @include m("button") {
      font-size: 24px;
      color: black;
    //   border: 1px black solid;
    }
    @include m("left") {
      position: absolute;
      width: 100px;
      left: 0px;
      z-index: 1;
      background-color: white;
    }
    @include m("center") {
      position: absolute;
      left: 0px;
      right: 0px;
    }
  }

  @include e("side-nav") {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    border: 1px transparent solid;
    @include e("menu"){
        text-align: left;
        width: 150px;
        background-color: white;
        @include m("icon") {
            font-size: 20px;
            color: black;
          }
          @include m("button") {
            font-size: 24px;
            width: 150px;
            color: black;
            padding: 10px 0px 10px 0px;
            // border: 1px black solid;
            position: relative;
          }
          @include m("left") {
            position: absolute;
            width: 100px;
            left: 20px;
            z-index: 1;
          }
          @include m("center") {
            position: absolute;
            left: 0px;
            right: 0px;
          }
    }
  }

  @include e("content") {
    width: auto;
    height: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    background-color: transparent;
    overflow-y: auto;
    @include e("overlay"){
      width: auto;
      height: auto;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      position: absolute;
      background-color:transparent;
      cursor: not-allowed;
      z-index: 1;
    }
  }
}
